* {
    font-family: "Roboto", sans-serif;
}
p{
   color: aqua;
   font-size: 20px;
}
h1{
    /* color: purple;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-decoration: overline;
    text-transform: capitalize; */
}
h1:hover{
    color: olive;
    font-size: 40px;
    background-color: aqua;
}
h3{
    /* color: blue; */
    /* font-size: 50px; */
}
.header{
    background-color: lime;
}
.body{
    background-color: coral;
    padding: 50px;
    border: 5px solid black;
}
@media (max-width: 800px) {
    body{
        background-color: green;
    }
}
@media (max-width: 800px) {
    body{
        background-color: yellow;
    }
}
h1{
    font-size: 30px;
}
@media (min-width: 801px) {
    body{
        background-color: red;
    }
}@media (max-width: 500px) {
    body{
        background-color: green;
    }
}